extends layout

block content
  div(id="container-div")
    form(id="uploadForm" action="/XMLZipUploads" method="post" enctype="multipart/form-data")
      input(id="fileInputButton" type="button" value="Browse" required)
      input(id="fileInput" type="file" name="fileUpload" required)
      input(id="tagInput" type="textarea" name="tagName" placeholder="tag-name (without '<' and '>')" required)
      input(id="submit-button" type="submit" value="Submit")
      a(href="/Help" target="_blank") Help?
  div(id="process-log")
    div(id="success-log")
      h1 Trace Log
      table#tagTable(style="width:100%;")
        tr#titleTable
          th Filename
          th Tag No:
          th Child No:
          th Data:
          th Status:
          th Link
    div(id="error-log")
      h1 Error Log
  div(class="loader")

  div(class="footer")
    div(id="downloader")
      a(id="downloadLink")
        img#downloadImage(src="/images/download164.png")



